<body id="page-top">
	
	<br>
	<br>

	<div class="col-md-6 col-md-offset-3">
		<div class="container">
			<div class="row">
				<h1>Gerenciar Visitação	</h1>
			</div>
		</div>
	</div>
	<div class="col-md-6 col-md-offset-3">
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">

				<br>
				<div class = "actions" >
					<%= link_to "Mostra Todas Visitações", show_visitation_url %>
				</div>
				<br>
				<div class="actions">
					<%= link_to "Nova Visitação", new_visitation_url %> <p>
				</div>
			</div>
		</div>
	</div>
</body>
