<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bem vindo ao JBB WEB, <%= @user.name %></h1>
    <p>
      Obrigada por se cadastrar no nosso site! <br>
    </p>
    <p>
      Para usar sua conta acesse esse link: <%= @url %>.
    </p>
    <p>Atenciosamente, Jardim Botânico de Brasília!</p>
  </body>
</html>

