<body id="aplication-body">

  <br>
	<br>

	<div class="container">
		<div class="row">
      <div class="col-md-6 col-md-offset-3">
       
       <%= form_for(:session, url: '/sign_in_suceful') do |f| %>
        <h1>Login</h1></br>
    <%= f.text_field :email, :class => "text" , :placeholder => "e-mail" %></br></br>
    <%= f.password_field :password, :class => "text" , :placeholder => "Senha" %></br></br>
    <%= f.submit "Entrar", :class => "btn btn-primary"%></br></br>
  <% end %>
    </div>
  </div>
</div>
</body>
