#map-container {
    height: 500px;
    border-radius: 5px 5px;
    border-color: #fff;
    border-style: solid;
    box-shadow: 2px 2px 10px #B1B1B1;
    border-width: 2px;
}

#map-canvas {
  height: 100%;
  width: 100%;
}

#center {
    margin: auto;
    width: 97%;
}

 /* Bootstrap Css Map Fix*/
#map-container #map-canvas img {
  max-width: none;
}
/* Bootstrap Css Map Fix*/
#map-container #map-canvas label {
  width: auto; display:inline;
}
