<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Creative - Start Bootstrap Theme</title>

    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="css/creative.min.css" rel="stylesheet">

    <!-- Awesome Icons   -->
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body id="page-top">
  <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class ="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
        </button>
        <a class="navbar-brand page-scroll" href="#page-top"><font color = "black">Jardim Botânico Web</font></a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li>
			  <a class="page-scroll" href="#sign_in"><font color = "black">Login</font></a>
          </li>
          <li>
			  <a class="page-scroll" href="#trails"><font color = "black">Trilhas</font></a>
          </li>
          <li>
            <a class="page-scroll" href="#contact"><font color = "black">Contato</font></a>
          </li>
           <li>
            <a class="page-scroll" href="#about"><font color = "black">Sobre</font></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header>
    <div class="header-content">
      <div class="header-content-inner">
        <font color="black"><h1 id="HomeHeanding"> Bem vindos ao Jardim Botânico</h1></font>
        <hr>
        <p><font color ="black">Jardim Botânico de Brasilía</font></p>
			<a href="#about" class="btn btn-primary btn-xl page-scroll">Saiba mais sobre nós!</a>
      </div>
    </div>
  </header>

  <section class="bg-primary" id="about">
    <div class="container">
      <div class="row">
        <div class ="col-lg-8 col-lg-offset-2 text-center">
          <h2 class="section-heading">Conheça um pouco mais sobre as nossas trilhas!</h2>
          <hr class="light">
          <p class="text-faded">O Jardim Botânico de Brasília é predominantemente composto por vegetação do Cerrado, em excelente estado de conservação que pode ser apreciada nas Trilhas Interpretativas abertas à visitação pública. Por conta dessa característica, o JBB é conhecido como o “Jardim do Cerrado”. A área acessível à visitação é composta pelo Centro de Visitantes, Centro de Excelência do Cerrado, área de Piquenique, Orquidário, Cactário, Biblioteca, Permacultura, Anfiteatro, Trilhas Interpretativas e Jardins Temáticos.</p>
          <a href ="trails" class="page-scroll btn btn-default btn-xl sr-button">Saiba por onde andar</a>
        </div>
      </div>
    </div>
  </section>

  <section id="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">Somos mais do que um simples jardim</h2>
          <hr class="primary">
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 text-center">
          <div class="service-box">
            <i class="fa fa-4x fa-map-marker text-primary sr-icons"></i>
            <h3>Agende uma visita</h3>
            <p class="text-muted">Faça uma visita conosco para conhecer melhor as nossas trilhas</p>
          </div>
        </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-users text-primary sr-icons"></i>
          <h3>Agende um evento</h3>
          <p class="text-muted">Faça um evento conosco e desfrute dos melhores locais do nosso Jardim</p>
        </div>
      </div>
        <div class="col-lg-3 col-md-6 text-center">
          <div class="service-box">
            <i class="fa fa-4x fa-file-image-o text-primary sr-icons"></i>
            <h3>Fotos</h3>
            <p class="text-muted">Veja as fotos de toda a nossa beleza natural</p>
          </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-envelope-o text-primary sr-icons"></i>
          <h3>Contato</h3>
          <p class="text-muted">Entre em contato conosco sempre que precisar</p>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
</html>