<!DOCTYPE html>
<html lang="en">
<head>
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Plugin CSS -->
    <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet">
    <!-- Theme CSS -->
    <link href="css/creative.min.css" rel="stylesheet">
    <!-- Awesome Icons   -->
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
</head>
<body id="aplication-body">
  <header>
    <div class="header-content">
      <div class="header-content-inner">
        <h1 id="HomeHeanding"> Bem vindos ao Jardim Botânico</h1>
        <hr>
        <p><b><font color ="white">Jardim Botânico de Brasilía</font></b></p>
			<a href="#about" class="btn btn-primary btn-xl page-scroll">Saiba mais sobre nós!</a>
      </div>
    </div>
  </header>
  <section class="bg-primary" id="about">
    <div class="container">
      <div class="row">
        <div class ="col-lg-8 col-lg-offset-2 text-center">
          <h2 class="section-heading">Conheça um pouco mais sobre as nossas trilhas!</h2>
          <hr class="light">
          <p class="text-faded">O Jardim Botânico de Brasília é predominantemente composto por vegetação do Cerrado, em excelente estado de conservação que pode ser apreciada nas Trilhas Interpretativas abertas à visitação pública. Por conta dessa característica, o JBB é conhecido como o “Jardim do Cerrado”. A área acessível à visitação é composta pelo Centro de Visitantes, Centro de Excelência do Cerrado, área de Piquenique, Orquidário, Cactário, Biblioteca, Permacultura, Anfiteatro, Trilhas Interpretativas e Jardins Temáticos.</p>
          <a href ="/maps/jbb_map/" class="page-scroll btn btn-default btn-xl sr-button">Saiba por onde andar</a>
        </div>
      </div>
    </div>
  </section>
  <aside class="bg-dark">
  <div class="container text-center">
      <div class="call-to-action">
        <h2>Veja nossa agenda e saiba o melhor dia para o seu evento e/ou visita</h2>
      </div>
      <a  id="calendar_index" href="http://localhost:3000/events/index_calendar_month" class="evento fa fa-calendar fa-3x sr-icons"> <h4><b><font color ="white">Evento</font></b></h4></a>
      <a id="calendar_index" href="http://localhost:3000/visitations/index_calendar_month" class="visita fa fa-calendar-o fa-3x sr-icons"> <h4><b><font color ="white">Visita</font></b></h4> </a>
    </div>
  </aside>
  <section id="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">Somos mais do que um simples jardim</h2>
          <hr class="primary">
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 text-center">
          <div class="service-box">
              <% if current_user %>
                <% if current_user.is_employee %>
                  <a href="/visitations/show_employee">
                  <% else %>
                  <a href="/visitations/new">
                  <% end%>
              <% else %>
                <a href="/sign_in">
            <% end %>
            <i class="fa fa-4x fa-map-marker text-primary sr-icons"></i>
            <% if current_user %>
             <% if current_user.is_employee %>
             <h3>Gerencie visitas</h3>
            <p class="text-muted">Gerencie visitas agendadas.</p>
             <% else %>
            <h3>Agende uma visita</h3>
            <p class="text-muted">Faça uma visita conosco para conhecer melhor as nossas trilhas e a nossa beleza natural.</p>
            <% end%>
            <% else %>
            <h3>Agende uma visita</h3>
            <p class="text-muted">Faça uma visita conosco para conhecer melhor as nossas trilhas e a nossa beleza natural.</p>
            <% end%>
          </div>
        </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
                <% if current_user %>
                  <% if current_user.is_employee %>
                  <a href="/events/show_employee">
                  <% else %>
                  <a href="/events/new">
                  <% end%>
                <% else %>
                  <a href="/sign_in">
              <% end %>
          <i class="fa fa-4x fa-users text-primary sr-icons"></i>
          <% if current_user %>
             <% if current_user.is_employee %>
             <h3>Gerencie eventos</h3>
            <p class="text-muted">Gerencie eventos agendados.</p>
             <% else %>
            <h3>Agende um evento</h3>
            <p class="text-muted">Faça um evento conosco e desfrute dos melhores locais do nosso Jardim Botânico.</p>
            <% end%>
            <% else %>
            <h3>Agende um evento</h3>
            <p class="text-muted">Faça um evento conosco e desfrute dos melhores locais do nosso Jardim Botânico.</p>
            <% end%>
        </div>
      </div>
        <div class="col-lg-3 col-md-6 text-center">
          <div class="service-box">
            <i class="fa fa-4x fa-tree text-primary sr-icons"></i>
            <h3>Educação Ambiental</h3>
            <p class="text-muted">Entre em contato com a natureza e saiba como preservá-la.</p>
          </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-map-signs text-pri/maps/jbb_mapmary sr-icons"></i>
          <h3>Espaço JBB</h3>
          <a href="/maps/jbb_map/">
          <p class="text-muted">Anfiteatro, biblioteca da natureza, centro de visitantes, trilhas, restaurantes e outras muitas atrações.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter popup-gallery">
            <div class="col-lg-4 col-sm-6">
                <a href="assets/portfolio/fullsize/1.jpg" class="portfolio-box">
                    <img src="assets/portfolio/thumbnails/1.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                            </div>
                            <div class="project-name">
                                Jardim Japonês
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="assets/portfolio/fullsize/2.jpg" class="portfolio-box">
                    <img src="assets/portfolio/thumbnails/2.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">

                            </div>
                            <div class="project-name">
                                Jardim Evolutivo
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="assets/portfolio/fullsize/3.jpg" class="portfolio-box">
                    <img src="assets/portfolio/thumbnails/3.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">

                            </div>
                            <div class="project-name">
                                Relógio de sol
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="assets/portfolio/fullsize/4.jpg" class="portfolio-box">
                    <img src="assets/portfolio/thumbnails/4.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">

                            </div>
                            <div class="project-name">
                                Estufas
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="assets/portfolio/fullsize/5.jpg" class="portfolio-box">
                    <img src="assets/portfolio/thumbnails/5.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">

                            </div>
                            <div class="project-name">
                                Casa de chá
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="assets/portfolio/fullsize/6.jpg" class="portfolio-box">
                    <img src="assets/portfolio/thumbnails/6.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">

                            </div>
                            <div class="project-name">
                                Cactário
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<aside class="bg-dark">
  <div class="container text-center">
    <div class="call-to-action">
      <h2>Acompanhe as nossas redes sociais</h2>
    </div>
    <a id="facebook_icon" href="https://www.facebook.com/jardimbotanicodebrasiliajbb" class="fa fa-facebook-official fa-3x sr-icons"></a>
    <a id="instagram_icon" href="https://www.instagram.com/jardimbotanicodebrasilia/" class="fa fa-instagram fa-3x sr-icons"></a>
    <a id="twitter_icon" href="http://www.twitter.com/jbbdf" class="fa fa-twitter fa-3x sr-icons"></a>
  </div>
</aside>
<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">Fale conosco!</h2>
        <hr class="primary">
        <p>Gostaria de entrar em contato com a gente?</p>
      </div>
      <div class="col-lg-4 col-lg-offset-2 text-center">
          <i class="fa fa-envelope-o fa-3x sr-contact"></i>
          <h5> Assessoria de Comunicação Social: </h5>
          <p><a href="mailto:ascom@jbb.df.gov.br">ascom@jbb.df.gov.br</a></p>
      </div>
      <div class="col-lg-4 text-center">
        <i class="fa fa-phone fa-3x sr-contact"></i>
        <h5> Telefone: </h5>
        <p>(61) 3366-5597</p>
      </div>
    </div>
  </div>
  <br>
  <br>
  <center><p> © 2016 </p>
</section>
</body>
</html>
