<!DOCTYPE html>
<html lang="en">
<head>
  <link href="vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
  <link href="css/creative.css" rel="stylesheet">
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
</head>
<body id="aplication-body">
  <section id="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
            <% if current_user.is_employee %>
              <h2 class="section-heading">Requisições</h2>
            <% else %>
              <h2 class="section-heading">Minhas requisições</h2>
            <% end%>

          <hr class="primary">
        </div>
      </div>
    </div>
    <br>
    <div class="container">
      <div class="row">
        <div class="col-md-6 text-center">
          <div class="service-box">
                <% if current_user.is_employee %>
                    <a href="/visitations/show_employee">
                  <% else %>
                    <a href="/visitations/show_user">
                  <% end%>
            <i class="fa fa-4x fa-map-marker text-primary sr-icons"></i>
            <% if current_user %>
             <% if current_user.is_employee %>
             <h3>Gerencie visitas</h3>
            <p class="text-muted">Gerencie visitas agendadas.</p>
             <% else %>
            <h3>Gerencie visitas</h3>
            <p class="text-muted">Visualize e edite suas visitas facilmente</p>
            <% end%>
          </div>
        </div>
      <div class="col-md-6 text-center">
        <div class="service-box">
                <% if current_user.is_employee %>
                    <a href="/events/show_employee">
                  <% else %>
                    <a href="/events/show_user">
                  <% end%>
          <i class="fa fa-4x fa-users text-primary sr-icons"></i>
          <% if current_user %>
             <% if current_user.is_employee %>
             <h3>Gerencie eventos</h3>
            <p class="text-muted">Gerencie eventos agendados.</p>
             <% else %>
            <h3>Gerencie seus eventos</h3>
            <p class="text-muted">Visualize e edite seus eventos facilmente</p>
            <% end%>
            <% end%>
        </div>
      </div>
      <% end %>
</section>
</body>
</html>
