<body id="page-top">
  <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class ="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
        </button>
        <a class="navbar-brand page-scroll" href="#page-top">Jardim Botânico Web</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a class="page-scroll" href="#sign_in">Login</a>
          </li>
          <li>
            <a class="page-scroll" href="#trails">Trilhas</a>
          </li>
          <li>
            <a class="page-scroll" href="#contact">Contato</a>
          </li>
           <li>
            <a class="page-scroll" href="#about">Sobre</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <br>
  <br>

  <div class="container">
  	<div class="row">
    	<h1>Perfil</h1>
		</div>
	</div>