<body id="page-top">
  <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class ="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
        </button>
        <a class="navbar-brand page-scroll" href="#page-top">Jardim Botânico Web</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a class="page-scroll" href="#sign_in">Login</a>
          </li>
          <li>
            <a class="page-scroll" href="#trails">Trilhas</a>
          </li>
          <li>
            <a class="page-scroll" href="#contact">Contato</a>
          </li>
           <li>
            <a class="page-scroll" href="#about">Sobre</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <br>
  <br>

  <div class="container">
  	<div class="row">
    	<h1>Perfil de <@= @user.name %></h1>
     <!--  <%= @user.email %>
      <% if current_user == @user %> -->
        <p>
          <b> Email: </b>
          <@= @user.email %>
        </p>
        <p>
          <b> CPF: </b>
          <@= @user.cpf %>
        </p>
        <p>
          <b> Telefone: </b>
          <@= @user.phone %>
        </p>
        <p>
          <b> Gênero: </b>
          <@= @user.gender %>
        </p>
        <p>
          <b> Data de Nascimento: </b>
          <@= @user.birth %>
        </p>
        <ul>
          <li><%= link_to "Edit", user_edit_path(current_user), class: "btn btn-primary" %></li>
          <li><%= link_to "Delete", @user, method :delete, class: "btn btn-primary"%></li>
        </ul>
      <%end%>
		</div>
	</div>
<body>