% title("Home Page") %>
<br>
<br>
<br>
<div id="center">
<div id="map-container">
	<div id="map-canvas"></div>
</div>
<input type="button" value="Espaços JBB" onclick="setJbbSpaces();">
<input type="button" value="Remover Espaços JBB" onclick="removeJbbSpaces();">
</div>
