<br>
<br>
<br>
<div id="center">
    <div id="map-container">
        <div id="map-canvas"></div>
    </div>
    <br>
    <input type="button" value="Filtrar espaços JBB" onclick="setJbbSpaces();" class="btn btn-primary">
    <input type="button" value="Filtrar rios JBB" onclick="setJbbRivers();" class="btn btn-primary">
    <input type="button" value="Vegetação" onclick="setVegetation();" class="btn btn-primary">
    <%= link_to "Voltar", home_url, class: "btn btn-primary" %>
</div>
