<br>
<br>
<br>
<br>
<div id="center">
<div id="map-container">
	<div id="map-canvas"></div>
</div>
<br>
<input type="button" value="Filtrar espaços JBB" onclick="setJbbSpaces();" class="btn btn-primary">
<input type="button" value="Vegetação" onclick="setVegetation();" class="btn btn-primary">
<a id="map" >
<%= link_to "Voltar", home_url, class: "btn btn-primary" %>
</div>