% title("Home Page") %>
<br>
<br>
<br>
<br>
<div id="center">
<div id="map-container">
	<div id="map-canvas"></div>
</div>
<input type="button" value="Espaços JBB" onclick="setJbbSpaces();" class="btn btn-primary">
</div>
